.acesa{
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 100%;
    border: 5px solid black;
}

.apagada{
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 100%;
    border: 5px solid black;
}