.container{
    display: grid;
    width: auto;
    height: 600px;
    grid-template-columns: repeat(6,1fr);
    background-color: white;
    border-radius: 20px;
    grid-template-rows: repeat(6,1fr);
    gap: 20px;
}

@keyframes catalogo {
    from{
        transform: translateY(50px);
        opacity: 0
    }
    to{
        transform: translateY(0px);
        opacity: 1
    }
    
}
.header{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(190, 213, 205);
    grid-column: 1/7;
    grid-row: 1/2;
}

.catalogo{
    display:flex;
    grid-column: 1/7;
    grid-row: 2/5;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.produto{
    display:grid;
    /*border: 2px solid black;*/
    width: 200px;
    height: 300px;
    margin: 20px;
    grid-template-columns:  1fr;
    grid-template-rows: 1px 1fr 30px;
    gap: 20px;
    cursor: pointer;
    animation: catalogo 1s linear 1;
}

.imagem{
    width: 100%;
    height: 100%;
    grid-row: 2/3;
    border: 2px solid black;
    border-radius: 10px;
    transition: all 0.3s ease-out;
  
}
.imagem:hover{
    scale: 1.03;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(114, 114, 213);
    grid-row: 3/4;
    border-radius: 5px;
    opacity: 1;
    font-size: larger;
    font-weight: 500;
    opacity: 1;
}

.nomeProduto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    font-weight: 300;
    font-size: x-large;
}
