body{
    background-color: rgb(226, 192, 71);
}
div#blocoCadastro{
    line-height: 1.5;
    font-size: 20px;
    border: 3px solid black;
    height: 200px;
    width: 400px;
}
.tituloGrande{
    color:black;
    font-size: 40px;
}
.botao{
    font-size: 15px;
}