.countainer{
    display: flex;
    width: auto;
    height: 500px;
    justify-content: center;
    align-items: center;
}
@keyframes click {
     0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);;
    }
    100% {
        transform: scale(1);;
    }
}
.button{
    display:flex;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-color:rgb(216, 208, 208);
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    font-size: x-large;
    font-weight: 1000;
    border-bottom: 10px solid rgb(147, 146, 146);
    transition: all 0.3s ease-out;
}
.button:hover{
    scale: 1.1;
    background-color: gray;
    color: rgb(248, 246, 246);
    border-bottom: 10px solid rgb(91, 89, 89);
}

.button:active{
    scale: 1.1;
    background-color: gray;
    color: rgb(248, 246, 246);
    border-bottom: 10px solid rgb(91, 89, 89);
    animation: click 0.3s ease-out 1;
    
}