.countainer{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 600px;
    background-color: rgb(200, 188, 188);
    border: 2px solid black;
    flex-wrap: wrap;
    justify-content: center;

}
.header{
    width: 95%;
    height: 50px;
    background-color: blue;
    margin: 12.5px;
}

.countainer2{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 250px;
    /*border: 2px solid black;*/
    margin: 10px;
}
.texto{
    width: 90%;
    height: 90%;
    background-color: blue;
    margin: 10px;

}
.article{
    width: 100%;
    height: 100%;
    background-color: blue;
}

.main{
    width: 95%;
    height: 150px;
    background-color: blue;
    margin: 12.5px;
}

.footer{
    width: 95%;
    height: 50px;
    background-color: blue;
    margin: 12.5px;
}